
@font-face {
    font-family: "Brainlove";
    src: url(src/BrainloveTTF.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
 }

 h1{
   font-family: "Brainlove";
 }

 h2{
   font-size: .75em;
   letter-spacing: .2em;
 }

a{
  color: #6D886B;
}

a:hover{
  color: #6D886B;
}
#homebannerbg{
background-image: url(img/image1.jpg);
background-repeat: none;
background-position: center;
background-size: cover;

}
#homebannertext{
  height: 80vh;
}

.details{
background-image: url(img/leafbg.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 80vh;
}

.bgleaf2{
  background-image: url(img/leafbg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}


footer{
  background-color: #6D886B;
  margin-bottom: -50px;
}
footer a{
  color:white;
}
footer a:hover{
  color:white;
}

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 .timer {
   color: #6D886B;
   text-align: center;
 }

 .timer li {
   display: inline-block;
   font-size: .75em;
   list-style-type: none;
   padding: 1em;
   text-transform: uppercase;
 }

 .timer li span {
   display: block;
   font-size: 1.5rem;
 }
